# Default ignored files
/../../Методы програмирования Практические работы /.idea/shelf/
/../../Методы програмирования Практические работы /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Методы програмирования Практические работы /.idea/httpRequests/
