{% extends 'schedule/base.html' %}

{% block content %}
<h1>Добавить преподавателя</h1>

<div class="card">
    <form method="post">
        {% csrf_token %}

        <h3>Основная информация</h3>
        {{ teacher_form.as_p }}

        <h3>Дополнительная информация</h3>
        {{ info_form.as_p }}

        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'schedule:teacher_index' %}" class="btn">Отмена</a>
    </form>
</div>
{% endblock %}